

*.tar
*.pth
*.tar.pth
*.rar
*.zip
*.jpg

*event*

*.log
runs/*

# *.png


*.txt

plot
plot/*
*wandb
wandb*
*.pyc
*pycache*

.vscode/launch.json

trash/*



networks/lr@1e-05_ep@300_bgw@1.0_rindw@1.0_1658026477


*.mat
*.gz

*.tar.gz

*.json




networks/*
networks/*.json


data 
*.pyc
logs/*




plot/plot_material
plot/demo



cityscapes




sbd

launch.json


networks


