

*.tar
*.rar
*.zip
*.jpg

*event*

*.log
runs/*

*.png


*.txt

*wandb
wandb*
*.pyc
*pycache*

.vscode/launch.json



networks/lr@1e-05_ep@300_bgw@1.0_rindw@1.0_1658026477


*.mat
*.gz

*.tar.gz




networks/*
networks/*.json


*.pyc
logs/*